  /* 
  .circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
  }
  .dot1 {
      height: 100px;
      width: 100px;
      background-color: #bbb;
      border-radius: 50%;
      margin : 100px 0px 0px 400px;
    }
    .dot1::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .dot2 {
      height: 100px;
      width: 100px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin : 100px 0px 0px 350px;
    }
    
    
    .dot3 {
      height: 100px;
      width: 100px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin : 0px 0px 0px 400px;
    }
    .dot4 {
      height: 100px;
      width: 100px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin : 0px 0px 0px 350px;
    }
    */
  
  .panel {
      max-width: 800px;
      height: 350px;
      background: url(images/car.svg) no-repeat center center;
      margin: 0 auto;
      background-size: 90%;
  }

  .circle1 {
    width: 100px;
    height: 100px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #000;
    display: inline-block;
    margin : 0px 0px 0px 400px;
  }
  .circle2 {
    width: 100px;
    height: 100px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: inline-block;
    background: #000;
    margin : 0px 0px 0px 350px;
  }
